# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system and IDE files
.DS_Store
.env
*.log

# Ignore large data and model artifacts if needed
*.pt
*.bin
*.h5
*.pkl
*.ckpt

# (keep these because Streamlit needs them)
!faiss_index.bin
!embeddings.npy
!publications_with_text.csv

